<?xml version="1.0" encoding="UTF-8"?>
			<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<typeAliases>
<typeAlias type="com.iu.home.board.impl.BoardDTO" alias="BoardDTO"/>
<typeAlias type="com.iu.home.board.impl.BoardFileDTO" alias="BoardFileDTO"/>
<typeAlias type="com.iu.home.board.notice.NoticeDTO" alias="NoticeDTO"/>
<typeAlias type="com.iu.home.board.qna.QnaDTO" alias="QnaDTO"/>
<typeAlias type="com.iu.home.bankMembers.BankMembersFileDTO" alias="BankMembersFileDTO"/>
<typeAlias type="com.iu.home.bankMembers.RoleDTO" alias="RoleDTO"/>
<typeAlias type="com.iu.home.bankBook.BankBookCommentDTO" alias="BankBookCommentDTO"/>
<typeAlias type="java.lang.Long" alias="Long"/>
<typeAlias type="com.iu.home.util.CommentPager" alias="CommentPager"/>
</typeAliases>
</configuration> 