<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #d1 {
            width: 300px;
            height: 300px;
            background-color: brown;
            margin: 100px auto;
            overflow: hidden;
        }

        #d1_1 {
            width: 150px;
            height: 150px;
            background-color: yellow;
            margin: 75px auto;
        }
    </style>
</head>
<body>
    <!-- 입력창에 숫자를 입력하고 버튼을 클릭하면 입력 된 숫자 만큼 div내에 button 태그 생성 class="c1" -->
    <input type="text" id="count">
    <button id="btn" class="c1">CLICK</button>

    <div id="result">
        <button class="c1">CLICK</button>
    </div>

    <div id="d1">
        <div id="d1_1">
            <button id="d1_1_1" class="buttons">BUTTON</button>
        </div>
    </div>

    <div>
        <a href="https://www.google.com" id="google">GOOGLE</a>
    </div>

    <script src="/resources/js/dom_8.js"></script>
</body>
</html>