<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iu.home.bankBook.BankBookDAO">
	<select id="getList" resultType="com.iu.home.bankBook.BankBookDTO">
		SELECT * FROM BANKBOOK
	</select>
	
	<insert id="setBook" parameterType="com.iu.home.bankBook.BankBookDTO">
		INSERT INTO BANKBOOK VALUES (#{bookNum}, #{bookName}, #{bookRate}, 1)
	</insert>
	
	<select id="getDetail" parameterType="com.iu.home.bankBook.BankBookDTO"
		resultType="com.iu.home.bankBook.BankBookDTO">
		SELECT * FROM BANKBOOK WHERE BOOKNUM = #{bookNum}
	</select>
	
	<delete id="delete" parameterType="com.iu.home.bankBook.BankBookDTO">
		DELETE BANKBOOK WHERE BOOKNUM = #{bookNum}
	</delete>
	
	<update id="upBook" parameterType="com.iu.home.bankBook.BankBookDTO">
		UPDATE BANKBOOK SET BOOKNAME = #{bookName}, BOOKRATE = #{bookRate} WHERE BOOKNUM = #{bookNum}	
	</update>
</mapper>