<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.home.bankMembers.BankMembersDAO">
	<select id="getLogin"
		parameterType="com.iu.home.bankMembers.BankMembersDTO"
		resultMap="getMyPageResult1">
		<!-- SELECT USERNAME, NAME FROM BANKMEMBERS WHERE USERNAME=#{userName} 
			AND PASSWORD=#{password} -->
		SELECT M.USERNAME, M.NAME, MR.ROLENUM,R.ROLENAME
		FROM BANKMEMBERS M
		INNER JOIN
		MEMBER_ROLE MR
		ON M.USERNAME=MR.USERNAME
		INNER JOIN
		ROLE R
		ON MR.ROLENUM=R.ROLENUM
		WHERE M.USERNAME=#{userName} AND M.PASSWORD=#{password}
		ORDER BY R.ROLENUM ASC
	</select>

	<insert id="setJoin"
		parameterType="com.iu.home.bankMembers.BankMembersDTO">
		INSERT INTO BANKMEMBERS
		VALUES(#{userName},#{password},#{name},#{email},#{phone})
	</insert>

	<select id="getSearchByID" parameterType="java.lang.String"
		resultType="com.iu.home.bankMembers.BankMembersDTO">
		SELECT * FROM BANKMEMBERS WHERE USERNAME LIKE
		'%'||#{search}||'%' ORDER BY
		USERNAME ASC
	</select>

	<select id="getMyPage"
		parameterType="com.iu.home.bankMembers.BankMembersDTO"
		resultMap="getMyPageResult">
		<!-- resultType="com.iu.home.bankMembers.BankMembersDTO" -->
		SELECT BM.USERNAME, NAME, EMAIL, PHONE, FILENUM, FILENAME, ACCOUNTNUM,
		BOOKNAME,ACCOUNTDATE
		FROM BANKMEMBERS BM

		LEFT JOIN
		MEMBERFILE MF
		ON BM.USERNAME = MF.USERNAME

		LEFT JOIN
		BANKACCOUNT BA
		ON BM.USERNAME = BA.USERNAME

		LEFT JOIN
		BANKBOOK BB
		ON BA.BOOKNUM = BB.BOOKNUM
		WHERE BM.USERNAME=#{userName}
	</select>

	<insert id="setAddFile" parameterType="BankMembersFileDTO">
		INSERT INTO MEMBERFILE
		(FILENUM,ORINAME,USERNAME,FILENAME)
		VALUES(FILE_SEQ.NEXTVAL,#{oriName},#{userName},#{fileName})
	</insert>

	<resultMap type="com.iu.home.bankMembers.BankMembersDTO"
		id="getMyPageResult">
		<id column="USERNAME" property="userName" />
		<result column="NAME" property="name" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />

		<association property="bankMembersFileDTO"
			javaType="BankMembersFileDTO">
			<id column="FILENUM" property="fileNum" />
			<result column="FILENAME" property="fileName" />
		</association>

		<collection property="bankAccountDTOs"
			javaType="java.util.List"
			ofType="com.iu.home.bankAccount.BankAccountDTO">
			<id column="ACCOUNTNUM" property="accountNum" />
			<result column="ACCOUNTDATE" property="accountDate" />


			<association property="bankBookDTO"
				javaType="com.iu.home.bankBook.BankBookDTO">
				<result column="BOOKNAME" property="bookName" />
			</association>

		</collection>


	</resultMap>

	<resultMap type="com.iu.home.bankMembers.BankMembersDTO"
		id="getMyPageResult1">
		<id column="USERNAME" property="userName" />
		<result column="NAME" property="name" />
		<collection property="roleDTOs" javaType="java.util.List"
			ofType="RoleDTO">
			<id column="ROLENUM" property="roleNum" />
			<result column="ROLENAME" property="roleName" />
		</collection>
	</resultMap>

	<!-- SELECT USERNAME, NAME, EMAIL, PHONE, FROM BANKMEMBERS WHERE USERNAME=#{userName} -->

</mapper>