<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.home.bankMembers.BankMembersDAO">
	<select id="getLogin"
		parameterType="com.iu.home.bankMembers.BankMembersDTO"
		resultType="com.iu.home.bankMembers.BankMembersDTO">
		SELECT USERNAME, NAME FROM BANKMEMBERS WHERE
		USERNAME=#{userName} AND PASSWORD=#{password}
	</select>

	<insert id="setJoin"
		parameterType="com.iu.home.bankMembers.BankMembersDTO">
		INSERT INTO BANKMEMBERS
		VALUES(#{userName},#{password},#{name},#{email},#{phone})
	</insert>

	<select id="getSearchByID" parameterType="java.lang.String"
		resultType="com.iu.home.bankMembers.BankMembersDTO">
		SELECT * FROM BANKMEMBERS WHERE USERNAME LIKE
		'%'||#{search}||'%' ORDER BY
		USERNAME ASC
	</select>

	<select id="getMyPage"
		parameterType="com.iu.home.bankMembers.BankMembersDTO"
		resultMap="getMyPageResult">
		<!-- resultType="com.iu.home.bankMembers.BankMembersDTO" -->
		SELECT USERNAME, NAME, EMAIL, PHONE, ACCOUNTNUM, BOOKNAME,ACCOUNTDATE
		FROM BANKMEMBERS BM
		INNER JOIN
		BANKACCOUNT BA
		USING (USERNAME)
		INNER JOIN
		BANKBOOK BB
		USING (BOOKNUM)
		WHERE USERNAME=#{userName}
	</select>

	<resultMap type="com.iu.home.bankMembers.BankMembersDTO"
		id="getMyPageResult">
		<id column="USERNAME" property="userName" />
		<result column="NAME" property="name" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<collection property="bankAccountDTOs"
			javaType="java.util.List"
			ofType="com.iu.home.bankAccount.BankAccountDTO">
			<id column="ACCOUNTNUM" property="accountNum" />
			<result column="ACCOUNTDATE" property="accountDate" />
			<association property="bankBookDTO"
				javaType="com.iu.home.bankBook.BankBookDTO">
				<result column="BOOKNAME" property="bookName" />
			</association>
		</collection>

	</resultMap>

	<!-- SELECT USERNAME, NAME, EMAIL, PHONE, FROM BANKMEMBERS WHERE USERNAME=#{userName} -->

</mapper>