<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.home.board.notice.NoticeDAO">
	<sql id="search">
		WHERE
		<choose>
			<when test="kind == 'title'">Title</when>
			<when test="kind =='writer'">Writer</when>
			<otherwise>contents</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'

	</sql>
	<select id="getList" resultType="NoticeDTO"
		parameterType="com.iu.home.util.Pager">
		SELECT * FROM
		(SELECT ROWNUM R,N.* FROM
		(SELECT * FROM NOTICE

		<include refid="search"></include>

		ORDER BY NUM DESC) N)
		WHERE R BETWEEN
		#{startRow} AND #{lastRow}
	</select>

	<select id="getCount" resultType="Long"
		parameterType="com.iu.home.util.Pager">
		SELECT COUNT(NUM)FROM NOTICE
		<include refid="search"></include>


	</select>

	<select id="getDetail" parameterType="BoardDTO"
		resultMap="getDetailResult">
		SELECT N.*,NF.*
		FROM NOTICE N
		LEFT JOIN 
		NOTICEFILE NF
		ON N.NUM=NF.N_NUM
		WHERE N.NUM = #{num}
	</select>
	
	<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="NUM" property="num"/>
		<result column="TITLE" property="title"/>
			<result column="WRITER" property="writer" />
		<result column="CONTENTS" property="contents" />
		<result column="REGDATE" property="regDate" />
		<result column="HIT" property="hit" />
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
		<id column="FILENUM" property="fileNum"/>
		<result column="FILENAME" property="fileName"/>
		<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>

	<insert id="setAdd" parameterType="BoardDTO">
	<selectKey keyProperty="num" order="BEFORE" resultType="Long">
		SELECT BOARD_SEQ.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO NOTICE
		(NUM,TITLE,WRITER,CONTENTS,REGDATE,HIT)
		VALUES(#{num},
		#{title}, #{writer}, #{contents}, SYSDATE,
		0)

	</insert>
	
 		<insert id="setAddFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILE (FILENUM,ORINAME,N_NUM,FILENAME)
		VALUES(FILE_SEQ.NEXTVAL,#{oriName},#{n_num},#{fileName})
	</insert>
	
	

	<insert id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET
		TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
	</insert>

	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM =
		#{num}
	</delete>

</mapper>
    
    